/** @format */
.App-header {
  width: 100%;
  background-color: #046a7c;
  height: 70px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  cursor: pointer;
}

.App-header h2 {
  margin-top: 30px;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: 650px;
}

.menu-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}

.menu-3 li {
  width: 105px;
  height: 50px;
  transition: background-position-x 0.6s linear;
  text-align: center;
}
.menu-3 li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.45s;
}
.menu-3 li:hover a {
  color: #4ca562;
}
.menu-3 li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.home {
  text-align: center;
  background-color: #ffffff;
}

.home h2 {
  margin: 50px 0 30px 0;
  font-family: cursive;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  display: inline-block;
  padding: 5px 25px 10px 25px;
  width: 25%;
  text-align: center;
}

.errorMessage {
  margin-top: 20px;
  margin: auto;
  font-weight: bold;
  color: rgb(255, 6, 6);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 2px solid #046a7c;
  border-radius: 10px;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #046a7c;
  color: antiquewhite;
}

.search > input[type="text"] {
  width: 40%;
  min-width: 170px;
  border-radius: 10px;
  border-color: #046a7c;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
